Source: ngcp-sipsak
Section: net
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 4.0.0), libruli4-dev, libgnutls-dev, pkg-config
Standards-Version: 3.7.3

Package: ngcp-sipsak
Architecture: any
Depends: ${shlibs:Depends}
Replaces: sipsak
Conflicts: sipsak
Description: SIP Swiss army knife
 sipsak is a small command line tool for developers and administrators of 
 Session Initiation Protocol (SIP) applications. 
 It can be used for some simple tests on SIP applications and devices.

